.card-background {
  height: 3000px;
  margin-top: 800px;
  margin-bottom: 1600px;
  background-color: rgb(253, 188, 188);
}
.card-box img {
  display: block;
  margin: auto;
  max-width: 80%;
}
.card-box {
  position: sticky;
  top: 300px;
  margin-top: 200px;
  transform: all 0.3s;
}