.list-group {
  /* display: none; */
  opacity: 0; 
  transform: translateY(-20px);
  transition: all 0.3s ease-in-out; /* 불투명도와 변환 효과 */
  pointer-events: none;
  position: fixed;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.show {
  /* display: block; */
  opacity: 1; /* 불투명도를 1로 설정 */
  transform: translateY(0);
  transition: all 1s ease-in-out;
}

.hellow {
  display: none; /* 기본적으로 숨김 */
}
.button1 {
  display: block; /* 버튼을 클릭하면 보이도록 설정 */
}